.counter-body {
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 10px;
    padding: 12px;
    width: 50px;
    align-items: center;
    text-align: center
}

.counter {
    color: white;
}