.counter-body {
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 10px;
    padding: 12px;
    width: 50px;
    align-items: center;
    text-align: center
}

.counter {
    color: white;
}

.btn {
    margin: 12px 0 0 12px;
    padding: 10px 14px;
    background-color: #f1f1f1;
    text-align: center;
    align-items: center;
    border: none;
    border-radius: 12px;
}

.btn:hover {
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.15);
}

.btn.primary {
    background-color: #bd8ed0;
    color: white;
}
